In [4]:
import pandas as pd
pd.__version__

'2.2.1'

In [11]:
import os 
os.system('curl https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz  -o test.csv.gz')

0

In [4]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', nrows=100)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [7]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [1]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [12]:
pd.io.sql.get_schema(df, name='yellow_taxi_trips')

'\nCREATE TABLE yellow_taxi_data (\n\t"VendorID" BIGINT, \n\ttpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE, \n\ttpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE, \n\tpassenger_count BIGINT, \n\ttrip_distance FLOAT(53), \n\t"RatecodeID" BIGINT, \n\tstore_and_fwd_flag TEXT, \n\t"PULocationID" BIGINT, \n\t"DOLocationID" BIGINT, \n\tpayment_type BIGINT, \n\tfare_amount FLOAT(53), \n\textra FLOAT(53), \n\tmta_tax FLOAT(53), \n\ttip_amount FLOAT(53), \n\ttolls_amount FLOAT(53), \n\timprovement_surcharge FLOAT(53), \n\ttotal_amount FLOAT(53), \n\tcongestion_surcharge FLOAT(53)\n)\n\n'

In [15]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', chunksize=10000)

In [16]:
from time import time

In [17]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql('yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print(f'Chunk loaded in {t_end - t_start:.2f} seconds')

Chunk loaded in 8.21 seconds
Chunk loaded in 3.83 seconds
Chunk loaded in 2.57 seconds
Chunk loaded in 3.62 seconds
Chunk loaded in 2.31 seconds
Chunk loaded in 2.09 seconds
Chunk loaded in 2.07 seconds
Chunk loaded in 2.57 seconds
Chunk loaded in 1.92 seconds
Chunk loaded in 2.56 seconds
Chunk loaded in 2.17 seconds
Chunk loaded in 1.75 seconds
Chunk loaded in 1.87 seconds
Chunk loaded in 1.99 seconds
Chunk loaded in 2.22 seconds
Chunk loaded in 2.05 seconds
Chunk loaded in 1.72 seconds
Chunk loaded in 1.88 seconds
Chunk loaded in 1.75 seconds
Chunk loaded in 1.52 seconds
Chunk loaded in 1.61 seconds
Chunk loaded in 1.70 seconds
Chunk loaded in 1.91 seconds
Chunk loaded in 2.17 seconds
Chunk loaded in 1.65 seconds
Chunk loaded in 2.13 seconds
Chunk loaded in 2.04 seconds
Chunk loaded in 1.54 seconds
Chunk loaded in 1.87 seconds
Chunk loaded in 1.85 seconds
Chunk loaded in 1.96 seconds
Chunk loaded in 1.91 seconds
Chunk loaded in 1.93 seconds
Chunk loaded in 1.69 seconds
Chunk loaded in 2.29 seconds
Chunk loaded in 2.14 seconds
Chunk loaded in 2.12 seconds
Chunk loaded in 1.86 seconds
Chunk loaded in 1.83 seconds
Chunk loaded in 1.98 seconds
Chunk loaded in 1.94 seconds
Chunk loaded in 1.73 seconds
Chunk loaded in 1.67 seconds
Chunk loaded in 1.68 seconds
Chunk loaded in 2.00 seconds
Chunk loaded in 1.75 seconds
Chunk loaded in 2.35 seconds
Chunk loaded in 1.90 seconds
Chunk loaded in 1.77 seconds
Chunk loaded in 2.22 seconds
Chunk loaded in 2.15 seconds
Chunk loaded in 1.96 seconds
Chunk loaded in 2.85 seconds
Chunk loaded in 1.94 seconds
Chunk loaded in 1.96 seconds
Chunk loaded in 1.71 seconds
Chunk loaded in 1.42 seconds
Chunk loaded in 1.70 seconds
Chunk loaded in 2.01 seconds
Chunk loaded in 1.52 seconds
Chunk loaded in 1.90 seconds
Chunk loaded in 1.94 seconds
Chunk loaded in 1.65 seconds
Chunk loaded in 1.58 seconds
Chunk loaded in 2.10 seconds
Chunk loaded in 2.15 seconds
Chunk loaded in 1.46 seconds
Chunk loaded in 1.37 seconds
Chunk loaded in 1.64 seconds
Chunk loaded in 1.59 seconds
Chunk loaded in 2.10 seconds
Chunk loaded in 1.85 seconds
Chunk loaded in 1.41 seconds
Chunk loaded in 1.54 seconds
Chunk loaded in 1.60 seconds
Chunk loaded in 1.42 seconds
Chunk loaded in 2.36 seconds
Chunk loaded in 2.03 seconds
Chunk loaded in 2.83 seconds
Chunk loaded in 1.84 seconds
Chunk loaded in 2.19 seconds
Chunk loaded in 3.95 seconds
Chunk loaded in 3.70 seconds
Chunk loaded in 2.67 seconds
Chunk loaded in 3.46 seconds
Chunk loaded in 3.80 seconds
Chunk loaded in 2.89 seconds
Chunk loaded in 3.28 seconds
Chunk loaded in 5.37 seconds
Chunk loaded in 3.83 seconds
Chunk loaded in 2.67 seconds
Chunk loaded in 2.54 seconds
Chunk loaded in 2.20 seconds
Chunk loaded in 2.85 seconds
Chunk loaded in 3.30 seconds
Chunk loaded in 2.51 seconds
Chunk loaded in 2.64 seconds
Chunk loaded in 2.55 seconds
Chunk loaded in 2.24 seconds
Chunk loaded in 2.32 seconds
Chunk loaded in 2.96 seconds
Chunk loaded in 3.08 seconds
Chunk loaded in 2.99 seconds
Chunk loaded in 3.58 seconds
Chunk loaded in 3.84 seconds
Chunk loaded in 3.50 seconds
Chunk loaded in 3.09 seconds
Chunk loaded in 4.84 seconds
Chunk loaded in 2.60 seconds
Chunk loaded in 2.56 seconds
Chunk loaded in 3.37 seconds
Chunk loaded in 2.73 seconds
Chunk loaded in 2.30 seconds
Chunk loaded in 3.02 seconds
Chunk loaded in 2.48 seconds
Chunk loaded in 2.73 seconds
Chunk loaded in 2.80 seconds
Chunk loaded in 3.06 seconds
Chunk loaded in 2.85 seconds
Chunk loaded in 3.70 seconds
Chunk loaded in 4.57 seconds
Chunk loaded in 2.72 seconds
Chunk loaded in 2.34 seconds
Chunk loaded in 3.44 seconds
Chunk loaded in 2.34 seconds
Chunk loaded in 2.65 seconds
Chunk loaded in 2.24 seconds
Chunk loaded in 2.85 seconds
Chunk loaded in 2.97 seconds
Chunk loaded in 2.95 seconds
Chunk loaded in 2.92 seconds
Chunk loaded in 3.70 seconds
Chunk loaded in 2.70 seconds
Chunk loaded in 1.82 seconds
Chunk loaded in 2.71 seconds
Chunk loaded in 2.16 seconds
Chunk loaded in 2.64 seconds

StopIteration: